{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "window": true,
    "fetch": true,
    "document": true,
    "navigator": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["react", "@typescript-eslint", "jest"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  },
  "rules": {
    "react/jsx-no-bind": 0,
    "react/require-default-props": 1,
    "react/no-danger": 1,
    "class-methods-use-this": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-underscore-dangle": "off",
    "react/destructuring-assignment": "off",
    "eslint/no-plus-plus": "off",
    "comma-dangle": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off",
    "react/prop-types": 0,
    "linebreak-style": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/__tests__/**.js", "**/*.test.js", "**/src/setupTests.js"],
      "env": { "jest": true },
      "rules": {
        "react/jsx-filename-extension": "off"
      }
    },
    {
      "files": ["**/__tests__/**.test.ts", "**/_tests__/**.test.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    },
    {
      "files": ["**/*.stories.tsx", ".storybook/**/*"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "react/jsx-filename-extension": "off",
        "import/no-named-as-default": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    }
  ]
}